<?xml version="1.0"?>
<!--   
    ========================================  
      * Author: nipun.dhananjaya@gmail.com  
      * Created: 10.03.2023  
    ========================================  
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="gazebo">
    
    <gazebo reference="fl_wheel_link">
        <mu1>1</mu1>
        <mu2>1</mu2>
        <slip1>0</slip1>
        <slip2>0</slip2>
    </gazebo>

    <gazebo reference="fr_wheel_link">
        <mu1>1</mu1>
        <mu2>1</mu2>
        <slip1>0</slip1>
        <slip2>0</slip2>
    </gazebo>

    <gazebo reference="bl_wheel_link">
        <mu1>1</mu1>
        <mu2>1</mu2>
        <slip1>0</slip1>
        <slip2>0</slip2>
    </gazebo>

    <gazebo reference="bl_wheel_link">
        <mu1>1</mu1>
        <mu2>1</mu2>
        <slip1>0</slip1>
        <slip2>0</slip2>
    </gazebo>

</robot>