<?xml version="1.0"?>
<!--   
    ========================================  
      * Author: nipun.dhananjaya@gmail.com  
      * Created: 10.03.2023  
    ========================================  
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ros2_control">
    
    <ros2_control name="IgnitionSystem" type="system">
        <hardware>
            <plugin>ign_ros2_control/IgnitionSystem</plugin>
        </hardware>
        <joint name="fl_castor_joint">
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="fr_castor_joint">
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="bl_castor_joint">
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="br_castor_joint">
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="fl_castor_wheel_joint">
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="fr_castor_wheel_joint">
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="bl_castor_wheel_joint">
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="br_castor_wheel_joint">
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>


        <joint name="L_wheel_joint">
            <command_interface name="velocity">
                <!-- <param name="min">-2</param>
                <param name="max">2</param> -->
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="R_wheel_joint">
            <command_interface name="velocity">
                <!-- <param name="min">-2</param>
                <param name="max">2</param> -->
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>

    <gazebo>
        <plugin 
          filename="ign_ros2_control-system" 
          name="ign_ros2_control::IgnitionROS2ControlPlugin">
          <parameters>$(find tracer_ign_sim)/config/tracer_controller_velocity.yaml</parameters>
        </plugin>
    </gazebo>

    

</robot>